@charset 'UTF-8'



@import "foundation/scss/foundation"
@import "fontawesome/scss/font-awesome"



.row
  margin: 0 auto
  max-width: 62.5rem

.row--ext
  margin: 0 auto
  max-width: 72.5em

body
  font-family: Helvetica, Arial, sans-serif
  font-weight: 300

.delimiter
  height: 1em
  border-top: 1px dashed black
  border-bottom: 1px dashed black
  background: #E6EA69

